<!doctype html>
<html>
    <head>
        <title>
            Message bird verify example
        </title>
    </head>
    <body>
        <h1>
            MessageBird verify example
            {{body}}
        </h1>
    </body>
</html>